<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="fileServiceCsv" class="ru.otus.service.FileServiceCsv">
    </bean>

    <bean id="processService" class="ru.otus.service.ProcessServiceTestingStudents" init-method="init">
        <constructor-arg name="fileService" ref="fileServiceCsv"/>
        <constructor-arg name="path" value="data/question-and-answers.csv"/>
    </bean>
</beans>