<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Pages</th>
        <th scope="col">Genre</th>
        <th scope="col">Author</th>
        <th scope="col" colspan="2">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.pages }}</td>
        <td>{{ book.genre.name }}</td>
        <td>{{ book.author.name }}</td>
        <td>
          <li class="list-inline-item">
            <a routerLink="/book-edit-form/{{ book.id }}" class="btn btn-info">Edit</a>
          </li>
        </td>
        <td>
          <li class="list-inline-item">
            <span (click)="onDelete(book.id)" class="btn btn-info">Delete</span>
          </li>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
